<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/login.css">

    <script src="/js/home/changepsword.js" defer></script>
    <title>비밀번호 변경</title>
</head>
<body>
    <div class="chpw-page">
        <div class="form">
          <form class="chpw-form">
            <input id="nowpw" type="password" placeholder="기존 비밀번호"/>
            <input id="newpw" type="password" placeholder="새로운 비밀번호"/>
            <input id="checkpw" type="password" placeholder="새로운 비밀번호 확인"/>
            
            <button type="button" id="chbutton">변경</button>        
          </form>
        </div>
      </div>
</body>
</html>

<!-- Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->