<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/js/home/profile.js" defer></script>
    <title>Profile</title>
</head>
<body>
    <p id="name"></p>

    <button type="button" id="logout">로그아웃</button>
    <button type="button" id="changepsword">비밀번호 변경</button>
</body>
</html>