<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/login.css">

    <script src="/js/home/register.js" defer></script>
    <title>register</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input id="id" type="text" placeholder="아이디" autocomplete="new-password"/>
            <input id="name" type="text" placeholder="이름"/>
            <input id="psword" type="password" placeholder="비밀번호" autocomplete="new-password"/>
            <input id="confirm-psword" type="password" placeholder="비밀번호 확인" autocomplete='off'/>
            <button type="button" id="button">회원가입</button>
            <p class="message">이미 계정이 있으신가요? <a href="/login">로그인하기</a></p>
          </form>
        </div>
      </div>
</body>
</html>

<!-- Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->